body {
    font-family: 'Raleway', sans-serif;
    }

    header{
        display:flex;
       
        margin-top: 30px; 
    }
    
nav a:hover
{
    color: #0065FC;
    border-top: 3px  solid #0065FC;
    padding-top: 27px;
}
#entete,
#ancres
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 400px;

}
#entete{
    margin-top: 20px;
}
#inscription{
    color:#0065FC;
}
#recherche{
    display: flex;
}

form {
    border: solid 1px #e6e1e1;
    border-radius: 10px;
    width: 240px;
    height: 29px;
    padding: 0px;
    
}
.map {
    background-color: rgb(240, 235, 235);
    color: hsl(214, 78%, 2%);
    border: solid 1px #deebff;
    border-radius: 5px;
    padding: 3px;
    padding-bottom: 8px;
}
button{
    background-color: #0065FC;
    color: rgb(247, 249, 252);
    border: solid 1px #deebff;
    border-radius: 10px;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    width: 80px;
}
#rechercher{
    border-width:0px;
    border:none;
    padding: 5px;
    width: 130px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 10px ;
    
    
}
#liens ul li{
    border: solid 1px #e6e1e1;
    border-radius: 25px;
    justify-content: space-around;
    margin: 10px;
    padding-left: 0px;
    padding-right:0px ;
    padding-bottom:0px ;
    padding-top:0px;
}

ul li i{
    border: solid 1px #deebff;
    border-radius: 20px;
    padding: 10px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #DEEBFF;
    color: #0065FC;
    
}
ul li a{
    text-decoration: none;
    color: black;
    
}
#liens {
justify-content: space-around;
text-decoration: none;
}

#logo
{
display: flex;
flex-direction: row;
justify-content: space-between;
}

#logo img{
    width: 100px;
    height: 50px;
}

nav li
{
    margin-right: 15px;
    
}

nav a
{
    color: black;
    text-decoration: none;
}


#Filtre{
display: flex;
justify-content:left;
align-items: center;
}

#information i {
color: #0065FC;

}
#conteneur{
    
    align-items: center;
    align-content: space-around;
    width: 800px;
    height: 600px;
    background-color:#F2F2F2;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px ;
    padding-left: 5px;
}
#conteneur p{
    padding-left: 20px;
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    border: solid 1px #e6e1e1;
    border-radius: 20px;
    background-color: white;
       
}
#stars1{
    padding-left: 10px;
    padding-bottom: 10px;
}
#stars1, #étoile5{
    
    color: #F2F2F2;
}
#stars1, #étoile1, #étoile2, #étoile3, #étoile4 {
    
    color:#0065FC;
}
#stars2{
    padding-left: 10px;
}

#stars2, #étoile6, #étoile7, #étoile8, #étoile9, #étoile10 {
    
    color:#0065FC;
}

#stars3{
    padding-left: 10px;
}

#stars3, #étoile11, #étoile12, #étoile13, #étoile14 {
    
    color:#0065FC;
}
#stars4{
    padding-left: 10px;
}
#stars4, #étoile16, #étoile17, #étoile18 {
    
    color:#0065FC;
}
#stars4, #étoile19, #étoile20 {
    color: #F2F2F2;
}

#stars5{
    padding-left: 10px;
}

#stars5, #étoile21, #étoile22, #étoile23, #étoile24 {
    
    color:#0065FC;
}
#stars5,  #étoile25 {
    color:#F2F2F2;
}

#stars6{
    padding-left: 10px;
}
#stars6, #étoile26, #étoile27, #étoile28, #étoile29, #étoile30 {
    
    color:#0065FC;
}
#conteneur a {
    text-decoration: none;
    color: black;
}
#conteneur a h3 {
    padding-left: 10px;
}
#conteneur a p {
    padding-left: 10px;
}
#conteneur img {
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    justify-content: center;
    object-fit: cover;
    }

    #booking1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin:2px 0px 3px 1px;
    padding-bottom: 20px;
}

#booking2 {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   margin:2px 0px 3px 1px;

}
aside{
    flex-direction: column;
    background-color:#F2F2F2;
    width: 380px;
    height: 620px;
    margin-left: 25px;
    border-radius: 10px;
    
}
#top-aside{
    display: flex;
    margin-left: 20px;
padding-top: 10px;
}
#chart-line{
    margin-left: 170px;
    margin-top: 15px;
}

aside img {
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    justify-content: center;
    object-fit: cover;
    }

section, aside{
    display: flex;
}
aside a{
display: flex;
text-decoration: none;
color: black;
}
.card7, .card8, .card9{
    
    background-color: white;
    border: solid 1px #e6e1e1;
    border-radius: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    height: 130px;

}



#stars7{
    color: #0065FC;
}

#stars8, #étoile36,#étoile37, #étoile38, #étoile39 {
    color: #0065FC;
}
#stars8, #étoile40
{
color:#F2F2F2 ;
}

#stars9, #étoile41, #étoile42, #étoile43, #étoile44{
    color: #0065FC;
}
#stars9, #étoile45{
    color:#F2F2F2;
}

.card7, #part1, #part2{
display: flex;
flex-direction: column;

}


.card8 #part3, #part4
{
display: flex;
flex-direction: column;

}

.card9 #part5, #part6{
    display: flex;
    flex-direction: column;
}
/*  mise en page du card7  */
.card7 #part2 
{
padding-left: 10px;
}
.card7 #part2 p
{
line-height: 0px;
padding-bottom: 30px;
}
.card7 #part2 h3
{
line-height: 0px;
padding-bottom: 0px;
}
/*  mise en page du card8  */
.card8 #part4 
{
padding-left: 10px;
}

.card8 #part4 p
{
line-height: 0px;
padding-bottom: 0px;

}
.card8 #part4 h3
{
line-height: 20px;
padding-bottom: 0px;
}
/*  mise en page du card9  */
.card9 #part6 
{
padding-left: 10px;
}
.card9 #part6 p
{
line-height: 0px;
padding-bottom: 30px;
}
.card9 #part6 h3
{
line-height: 0px;
padding-bottom: 0px;
}

/*  mise en page du card10 */
.card10{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);

}
.card10 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

 #act a {
    text-decoration: none;
    color: black;
    text-align:left;
    }
#act p{
    padding-left: 15px;
    
}

/*  mise en page du card11 */

.card11{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
    margin-bottom: 20px;
}
.card11 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    
}
/*  mise en page du card12 */

.card12{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
}
.card12 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

/*  mise en page du card13 */
.card13{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);

}
.card13 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

 #act a {
    text-decoration: none;
    color: black;
    text-align:left;
    }
#act p{
    padding-left: 15px;
}

#activités {
    display: flex;
   
}

#act1, #act2, #act3{
    margin-right: 50px;
    }

    /*  mise en page du card14*/

    .card14{
        background-color:white;
        border-radius: 20px;
        border: solid 1px #e6e1e1;
        box-shadow: 3px 3px 6px rgb(173, 167, 167);
        margin-bottom: 20px;
    }
    .card14 a img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }


 /*  mise en page du card15*/


.card15{
        background-color:white;
        border-radius: 20px;
        border: solid 1px #e6e1e1;
        box-shadow: 3px 3px 6px rgb(173, 167, 167);
    }
    .card15 a img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }

section {
    margin-bottom: 50px;
}

#à-propos{
    flex-direction: column;
    
}

#nos-heb{
    flex-direction: column;
}
#assis{
    flex-direction: column;
}


 /*  footer*/

footer{
    display: flex;
    text-align: start;
    background-color:#F2F2F2 ;

}

footer ul li {
    padding-bottom: 10px;
}
h4{
    padding-left: 40px;
}
#rang1, #rang2 {
    margin-right: 150px;
}

 @media all and (max-width: 1024px)
{
   #bloc_page
   {
   width: auto; 
   }
   header
   {
       flex-direction: column;

   }
   #logo img{
    margin-right: 0px;
    width: auto;
   }
   
   #entete
   {
    width: auto;
    text-align: left;
    flex-direction: column;
    margin-left: 300px;
           
   }
   #ancres
   {
       width: auto;
       flex-direction: column;
       margin-top: 0px;
       margin-left: 0px;
       
   }


   #inscription
   {
       width: auto;
   margin-left: 45px;
   margin-top: 0px;
   
   }
   nav li 
   {
    padding-left: 4px;
   }
   nav a 
   {
       font-size: 1.1em;
   }
   nav a:hover
   {
       border-bottom: 0;
       border-top: none;
   }
   #liens ul{
    
    text-align: left;
    flex-direction: column;
   }
   section
   {
       width: auto;
       flex-direction: column;
       width: auto;
   }
   #conteneur
   {
    flex-direction: column;
    width: 95%;
    margin-bottom: 50px;
    

   }
   #booking1{
   flex-grow: 1;
   flex-shrink: 1;
   width: auto;
   margin-bottom: 5px;
   }

   
   #booking2{
       flex-grow: 1;
    flex-shrink: 1;
    width: auto;
    margin-bottom: 5px;
   }

   .card1, .card2, .card3, .card4, .card5, .card6 
   {
    height: auto;
    width:25%;
    max-width: 200px;
    border: solid 1px #e6e1e1;
    border-radius: 20px;
    background-color: white;
    
   }
   #conteneur img
   {
    max-height: 150px;
    width:80%;
    max-width: 200px;  
   }
   #conteneur h3 
   {
    font-size: 0.8em;
    max-width: 200px;
   }
   #conteneur p 
   {
    height: auto;
    width:80%;
    font-size: 0.8em;
    max-width: 200px;
   }


   aside
   {
       width: 95%;
       margin-bottom: 5px;
       margin-top: 20px;
       margin-left: 0px;
   }

   #activités {
 flex-direction: column;
 width: 95%;
 margin-bottom: 50px;
 width: auto;
 margin-bottom: 5px;
   
}

.card10{
    height: auto;
    width:50%;
    max-width: 400px;
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
    margin-bottom: 10px;
    margin-left: 100px;
    padding:0px;

}
.card10 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}
#act2{display: flex;}
.card11{
    height: 200px;
    width:50%;
    max-width: 500px;
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
    margin-right: 10px;
}
.card11 a img 
{
    max-height: 150px;
    width: 100%;
    max-width: 400px;  
}

.card12{
    height: 200px;
    width:50%;
    max-width: 500px;
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);

}
.card12 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}

.card13{
    height: auto;
    width:50%;
    max-width: 400px;
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
    margin-left: 100px;
    margin-bottom: 10px;
    

}
.card13 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}

.card14{
    height: 220px;
    width:50%;
    max-width: 400px;
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
    margin-right: 10px;

}
.card14 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}

.card15{
    height: 220px;
    width:50%;
    max-width: 400px;
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);

}
.card15 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}
#act4{display: flex;
max-width: 420px;
}

/*#act4 a p
{
    font-size: 0.8em;
    max-width: 200px;
}*/

footer
{
    width: auto;
    padding-left: 0px;
     
    }

#rang1, #rang2 
{
 margin-right: 10px;
}
#rang1{
    margin-left: 0px;
    text-align: left;

}

}